.loading {
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000 !important;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after, .loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*
// Loading skeletons 
// HIỆU ỨNG TẢI
*/
.skeleton {
  background-color: var(--loading-bg);
  background-image: linear-gradient(90deg, rgba(#eee, 0), rgba(#eee, 0.8), rgba(#eee, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1.3s ease-in-out infinite;
}
@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}